a[href^='http://']{
    color: blue;
}

a[href^='https://']{
    color: purple
}

li:nth-child(2){
    font-style: italic
}

li:nth-last-child(2) a {
    font-weight: bold
}

a[href*='panda'] {
    background-color: cornflowerblue
}
a[href*='.org'] {
    background-color: cornflowerblue
}

